spring:
  profiles:
    active: dev
  application:
    name: echoDispatch
  datasource:
    url: jdbc:mysql://${EchoDispatch.database.ip:EchoDispatch-mysql}:${EchoDispatch.database.port:3306}/echo_dispatch?useSSL=false
    username: ${EchoDispatch.database.username:root}
    password: ${EchoDispatch.database.password:1234}
    driver-class-name: com.mysql.jdbc.Driver
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      minimum-idle: 10
      maximum-pool-size: 30
      auto-commit: true
      pool-name: HikariCP
      idle-timeout: 3000
      validation-timeout: 1000
      connection-timeout: 10000
  kafka:
    bootstrap-servers: ${EchoDispatch.kafka.ip:EchoDispatch-kafka}:${EchoDispatch.kafka.port:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringSerializer
      value-deserializer: org.apache.kafka.common.serialization.StringSerializer
      enable-auto-commit: true
      auto-commit-interval: 1000
      auto-offset-reset: earliest
  rabbitmq:
    host: ${EchoDispatch.rabbitmq.ip:EchoDispatch-rabbitmq}
    port: ${EchoDispatch.rabbitmq.port:5672}
    stream:
      virtual-host: /
  data:
    redis:
      host: ${EchoDispatch.redis.host:EchoDispatch-redis}
      port: ${EchoDispatch.redis.port:6379}
      password: ${EchoDispatch.redis.password:redis}
#server:
#  port: 8080
mybatis-plus:
  type-aliases-package: com.nia.echoDispatch.support.domain
  configuration:
    map-underscore-to-camel-case: true # 开启下划线和驼峰映射

EchoDispatch:
  mq:
    topic: ed-topic
    pipeline: kafka
  rabbitmq:
    exchange: ed-exchange
    queue: ed-queue
    key: ed-Key